@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@font-face {
  font-family: "Audrey_Normal";
  src: url("../../Assets/Fonts/Audrey_Body/Audrey-Normal.otf");
}

@font-face {
  font-family: "Audrey_Normal_Oblique";
  src: url("../../Assets/Fonts/Audrey_Body/Audrey-NormalOblique.otf");
}

@font-face {
  font-family: "Audrey_Medium";
  src: url("../../Assets/Fonts/Audrey_Body/Audrey-Medium.otf");
}

@font-face {
  font-family: "Audrey_Medium_Oblique";
  src: url("../../Assets/Fonts/Audrey_Body/Audrey-MediumOblique.otf");
}

@font-face {
  font-family: "Audrey_Bold";
  src: url("../../Assets/Fonts/Audrey_Body/Audrey-Bold.otf");
}

@font-face {
  font-family: "Audrey_Bold_Oblique";
  src: url("../../Assets/Fonts/Audrey_Body/Audrey-BoldOblique.otf");
}

@font-face {
  font-family: "Bargemo";
  src: url("../../Assets/Fonts/Bargemo_Heading/Bargemo-Regular.otf");
}

@font-face {
  font-family: "Holipop";
  src: url("../../Assets/Fonts/Holipop_Title/Holipop.otf");
}

@font-face {
  font-family: "Petrona_ExtraLight";
  src: url("../../Assets/Fonts/Petrona_Body/static/Petrona-ExtraLight.ttf");
}

@font-face {
  font-family: "Petrona_Light";
  src: url("../../Assets/Fonts/Petrona_Body/static/Petrona-Light.ttf");
}

@font-face {
  font-family: "Petrona_Regular";
  src: url("../../Assets/Fonts/Petrona_Body/static/Petrona-Regular.ttf");
}

@font-face {
  font-family: "Petrona_Thin";
  src: url("../../Assets/Fonts/Petrona_Body/static/Petrona-Thin.ttf");
}

@font-face {
  font-family: "Petrona_Italic";
  src: url("../../Assets/Fonts/Petrona_Body/static/Petrona-Italic.ttf");
}

@font-face {
  font-family: "Petrona_Thin_Italic";
  src: url("../../Assets/Fonts/Petrona_Body/static/Petrona-ThinItalic.ttf");
}
* {
  overflow-x: hidden;
  cursor: none;
}
#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}

#scroll-title {
  display: block;
  text-transform: uppercase;
  /* color: black; */
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4em;
  text-align: center;
  transform: rotate(90deg);
  margin-bottom: 45px;
}
#scroll-down::before {
  -webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */

  -moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */

  -o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */

  animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */

  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 90px;
  background: #708a81;
  content: " ";
}
@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

 /* body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;
  background-color: #2b2129;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; 
  overflow-x: hidden;
}  */

span {
  background-image: linear-gradient(#2b2129, #2b2129);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 1s ease-in;
}

.active {
  background-size: 100% 100%;
  /* transition: color 1s ease-in;
  color: black; */
  text-shadow: 3px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  font-size: 40px;
  opacity: 0.2;
  padding: 30px 0;
  color: white;
}

.gelatine {
  animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.0);
  }
  50% {
    transform: scale(1.3, 0.9);
  }
  75% {
    transform: scale(0.95, 1.00);
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: black;
  mix-blend-mode: difference;
  background-color: white;
  z-index: 999999;
  pointer-events: none;
}


.wrapper
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

svg{
  width: 100vw;
}
circle{
  r:30;
  opacity:0.6;
}

.ball {
  /* animation: float 3.5s ease-in-out infinite; */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;

  background: radial-gradient(
    circle at 75% 30%,
    #F6FBF4 7px,
    #DD8E58 8%,
    #c88e95 60%,
    #C2956E 100%
  );
  box-shadow: inset 0 0 10px #fff, inset 10px 0 30px #eaf5fc,
    inset 10px 0px 29px #E5D1B8, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff; 
}

/* @keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-80px);
  }
  100% {
    transform: translatey(0px);
  }
} */

